* {
    margin: 0 auto;
}

.weather-card-list-container {
    display: flex;
    justify-content: space-between;
    max-width: 90vw;
}

.weather-card-list-main {
    display: flex;
    list-style: none;
}

.weather-card {
    width: 150px;
    height: 250px;
    margin: 5px;
}

#add-new-card {
    width: 150px;
    height: 250px;
}

#add-new-card button {
    position: relative;
    top: 45%;
}

.remove-card-button {
    width: 16px;
    height: 16px;
    padding: 0;
    border: none;
    background: none;
    float: left;
    top: 0;
}

.card-body button {
    border: none;
    background-color: white;
}

.header h1 {
    text-align: center;
    margin: 5%;
}